<h1>Editing page</h1>

<% form_for([@comic, @chapter, @page], :url => comic_chapter_page_path, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

        <% f.fields_for :panels do |asset| %>
           <% if asset.object.new_record? %>
             <%= asset.file_field :image %><br \>
           <% end %>
       <% end %>
        
       <table>
         
         <tr>
        <td></td>
        <td>Delete? </td>
         </tr>
         <% f.fields_for :panels do |asset| %>
           <tr>
             <% unless asset.object.new_record? %>
               <td> <%= image_tag(asset.object.image.url(:thumb))%> </td>
               <td> 
                 <%= asset.check_box :_destroy %>
             <% end %>        
           </tr>
         <% end %>
       </table>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Back', comic_chapter_path(@comic, @chapter)%>




