<h1>New page</h1>

<% form_for([@comic, @chapter, @page], :url => comic_chapter_pages_path, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <%= f.label :comic_strip, 'Image' %>
  <%= f.file_field :comic_strip %> <br />

  <% f.fields_for :post do |post_fields| %>

    <%= post_fields.label :title, 'Title' %>
    <%= post_fields.text_field :title %> <br />

    <%= post_fields.label :content, 'Content' %>
    <%= post_fields.text_area :content %>
  <% end %>


  <p>
  <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', comic_chapter_path(@comic, @chapter)%>
