<h1>New chapter</h1>

<% form_for([@comic, @chapter], :url => comic_chapters_path) do |f| %>
  <%= f.error_messages %>

  <p>
  <%= f.label :title, 'Title' %>
  <%= f.text_field :title %>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', comic_path(@comic) %>
